* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #efedd6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: white;
  width: 30vw;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(250%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-250%);
}

.box.show {
  transform: translateX(0);
}

.box h2{
  font-size: 35px;

}

@media (max-width:480px) {
  .box{
    width: 80vw;
  }
  h1{
    text-align: center;
  }
  
}